<h1>
    Two factor authentication
</h1>
<p>
    Your OTP code is <strong><%= otp %></strong>.
</p>
<p>
    This code will expire in 5 minutes.
</p>
<p>
    If you did not request this code, please ignore this email.
</p>